.top{
    text-align: center;
    background: white;
}
.post{
    background:white;
    width: 600px;
    margin: auto;
    padding: 15px;
    margin-top: 50px;
}
.post-top {
    display: flex;
    justify-content: space-between;
}
.base{
    background:gainsboro;
}
.img {
   margin: auto;
   width: 100%;
   height:400px;

}